#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Armory 0.93.2
Comment=Install Armory Bitcoin Wallet Management
Exec=sudo /home/amnesia/Persistent/Packages/install_armory.sh
Name=Install Armory 0.93.2
Icon=gnome-app-install
