#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Gostcrypt 1.0
Comment=Install Gostcrypt 1.0
Exec=/home/amnesia/Persistent/Packages/install_gostcrypt.sh
Name=Install Gostcrypt 1.0
Icon=gnome-app-install
