#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Linux Malware Detection 1.5
Comment=Install Linux Malware Detection 1.5
Exec=sudo /home/amnesia/Persistent/Packages/install_maldetect.sh
Name=Install Linux Malware Detection 1.5
Icon=gnome-app-install
