#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=email
Name[en_US]=Set up OnionMail 1.8.3
Comment=Set up OnionMail 1.8.3
Exec=/home/amnesia/Persistent/Packages/setup_onionmail.sh
Name=Set up OnionMail 1.8.3
Icon=email
