#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Pond
Comment=Install Pond secure asynchronous messaging
Exec=/home/amnesia/Persistent/Packages/install_pond.sh
Name=Install Pond
Icon=gnome-app-install
