#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install/Update PyBitmessage 0.4.4
Comment=Install/Update PyBitmessage 0.4.4 
Exec=/home/amnesia/Persistent/Packages/install_PyBitmessage.sh
Name=Install/Update PyBitmessage 0.4.4
Icon=gnome-app-install
