#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install SilentEye
Comment=Install SilentEye Steganography Tool
Exec=/usr/bin/gksudo /home/amnesia/Persistent/Packages/install_silenteye.sh
Name=Install SilentEye
Icon=gnome-app-install
