#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install SilentEye 0.40
Comment=Install SilentEye Steganography Tool
Exec=sudo /home/amnesia/Persistent/Packages/install_silenteye.sh
Name=Install SilentEye 0.40
Icon=gnome-app-install
