#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=system-upgrade
Name[en_US]=Upgrade OpenSSH Client
Comment=Install Tomb Encryption
Exec=gksudo /home/amnesia/Persistent/Packages/upgrade_ssh.sh
Name=Upgrade OpenSSH Client
Icon=system-upgrade
