#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install/Bootstrap Tahoe LAFS 1.10
Comment=Install/Bootstrap Tahoe LAFS DFS 1.10
Exec=sudo /home/amnesia/Persistent/Packages/install_tahoe-lafs.sh
Name=Install/Bootstrap Tahoe LAFS 1.10
Icon=gnome-app-install
