#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install TeamViewer 10
Comment=Install TeamViewer Remote Desktop Control
Exec=sudo /home/amnesia/Persistent/Packages/install_teamviewer.sh
Name=Install TeamViewer 10
Icon=gnome-app-install
