#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Tomb
Comment=Install Tomb Encryption
Exec=/usr/bin/gksudo /home/amnesia/Persistent/Packages/install_tomb.sh
Name=Install Tomb
Icon=gnome-app-install
