#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Tomb 2.2
Comment=Install Tomb 2.2 Encryption
Exec=sudo /home/amnesia/Persistent/Packages/install_tomb.sh
Name=Install Tomb 2.2
Icon=gnome-app-install
