#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=chat
Name[en_US]=Install TorChat 0.9.9-550
Comment=Install Torchat Anonymous Chat
Exec=sudo /home/amnesia/Persistent/Packages/install_torchat.sh
Name=Install TorChat 0.9.9-550
Icon=chat
