#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install Tor Messenger 0.2.0b2
Comment=Install Tor Messenger 0.2.0b2 (InstantBird)
Exec=/home/amnesia/Persistent/Packages/install_tormsg.sh
Name=Install Tor Messenger 0.2.0b2
Icon=gnome-app-install
