#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=vlc
Name[en_US]=Install VLC Video Player 2.2.4
Comment=Install VLC Video Player 2.2.4
Exec=sudo /home/amnesia/Persistent/Packages/install_vlc.sh
Name=Install VLC Video Player 2.2.4
Icon=vlc
