#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Icon[en_US]=gnome-app-install
Name[en_US]=Install ZuluCrypt 5.0.1
Comment=Install ZuluCrypt 5.0.1
Exec=sudo /home/amnesia/Persistent/Packages/install_zulucrypt.sh
Name=Install ZuluCrypt 5.0.1
Icon=gnome-app-install
